---
layout: default
title: Peer Production in Citizen Science
---
<h2 id="welcome">Welcome</h2>
<p>This website shares lessons from my PhD project, in which I explored an online collaboration approach called <strong>“peer production” as a means to support deeper volunteer engagement in citizen science</strong> projects.</p>
<p>By summarizing methods and lessons from my thesis and sharing them on this website, I hope to provide a useful resource <strong>for citizen science researchers and practitioners</strong> facing similar challenges striving for meaningful volunteer engagement in their online projects (<a href="#resources-for-citizen-science-practitioners"><em><strong>jump directly to the resources</strong></em></a>).</p>
<h2 id="my-phd-project-in-less-than-150-words">My PhD project, in less than 150 words</h2>
<p>First, I tried to understand what peer production means, and how it is used in citizen science projects to date. To this end, I summarized <a href="#">key characteristics of peer production to a working model</a>, and applied it to three citizen science <a href="#">case studies</a> (iNaturalist, Public Lab, Zooniverse).</p>
<p>Then, to apply this knowledge to a specific use case, I used a <a href="#">design-thinking process</a> to co-design a peer production approach for and with the <a href="#">personal science</a> community.</p>
<p>This process led to the creation of the <a href="https://wiki.openhumans.org">Personal Science Wiki</a>. The lessons learned regarding the <a href="#">design of community knowledge management platforms</a>, synergies and challenges of <a href="#">implementing participatory design and peer production</a>, as well as <a href="#">motivations and trade-offs of using peer production</a> over crowdsourcing approaches in citizen science contexts are summarized on this website.</p>
<p>Here is an illustration of the process that I made at the very beginning of my PhD: TODO add</p>
<div style="border:1px solid black;padding:0px 15px 0px 15px;display: inline-block;">
  <h2 id="resources-for-citizen-science-practitioners">Resources for citizen science practitioners</h2>
  <p><em>Start here</em></p>
  <ul>
    <li><a href="#">Introduction to volunteer engagement in citizen science</a></li>
    <li><a href="#">Introduction to personal science</a></li>
  </ul>
  <p><em>Design resources and lessons learned</em></p>
  <ul>
    <li><a href="#">Peer production in citizen science: What? Why? How?</a></li>
    <li><a href="#">Using design thinking to address community issues</a></li>
    <li><a href="#">Designing information architectures using the “card sorting” method</a></li>
    <li><a href="#">Lessons on designing community knowledge management systems</a></li>
    <li><a href="#">Lessons on participatory design</a></li>
  </ul>
</div>
<h2 id="license">License</h2>
<p>The content on this website is licensed under <a href="LICENSE.md">CC-BY 4.0 license</a>.</p>
<p>This website uses the open source <a href="https://github.com/poole/lanyon">"Lanyon"</a> template.</p>
<h2 id="contact">Contact</h2>
<p>To get in touch, you can contact me via email (add) or create an issue on GitHub. Feedback is highly appreciated!</p>

<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
