---
layout: default
title: Peer Production in Citizen Science
---
<div class="message">
  <h2 id="welcome">Welcome</h2>
  <p>This website shares lessons from my <a href="About">PhD project</a>, in which I explored an online collaboration approach called <strong>“peer production” as a means to support deeper volunteer engagement in citizen science</strong> projects.</p>
  <p>By summarizing methods and lessons from my thesis and sharing them on this website, I hope to provide a useful resource <strong>for citizen science researchers and practitioners</strong> facing similar challenges striving for meaningful volunteer engagement in their online projects.</p>
</div>
<div style="border:1px solid black;padding:0px 15px 0px 15px;display: inline-block;">
  <h2 id="resources-for-citizen-science-practitioners">Resources for citizen science practitioners</h2>
  <p><em>Start here</em></p>
  <ul>
    <li><a href="{{ '/introvolunteerengagement' | absolute_url }}">Introduction to Volunteer Engagement in Citizen Science</a></li>
    <li><a href="{{ '/intropersonalscience' | absolute_url }}">Introduction to Personal Science</a></li>
  </ul>
  <p><em>Design resources and lessons learned</em></p>
  <ul>
    <li><a href="{{ '/peerproduction' | absolute_url }}">Peer production in Citizen Science: What? Why? How?</a></li>
    <li><a href="{{ '/designthinking' | absolute_url }}">Using Design Thinking to Address Community Issues</a></li>
    <li><a href="{{ '/informationarchitecture' | absolute_url }}">Designing Information Architectures Using the “Card Sorting” Method</a></li>
    <li><a href="{{ '/knowledgemanagement' | absolute_url }}">Designing Knowledge Management Systems with Citizen Science Communities of Practice</a></li>
    <li><a href="{{ '/participatorydesign' | absolute_url }}">Participatory Design of Peer Production Systems</a></li>
  </ul>
</div>
<h2 id="license">License</h2>
<p>The content on this website is licensed under <a href="LICENSE.md">CC-BY 4.0 license</a>.</p>
<p>This website uses the open source <a href="https://github.com/poole/lanyon">"Lanyon"</a> template.</p>
<h2 id="contact">Contact</h2>
<p>To get in touch, you can contact me via <a href="mailto:ka.kloppenborg@gmail.com">email</a> or create an <a href="https://github.com/katoss/peer-production-in-citizen-science/issues">issue on GitHub</a>. Feedback is highly appreciated!</p>

<!--
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url | absolute_url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }}</span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ paginator.next_page_path | absolute_url }}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ '/' | absolute_url }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ paginator.previous_page_path | absolute_url }}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>
-->
